/* Stylesheet by Zac Pinard, 2023 */

body{
    background-image: url(../assets/African_background3.jpg)
}

/* Styling country borders in style.css */
.countries {
    fill: #FFD580;
    stroke: #D27D2D;
    stroke-width: 2px;
}

.parks {
    fill: #7CFC00;
    stroke: #6a4a3a;
    stroke-width: 2px;
}

.gratLines {
    fill: none;
    stroke: #171010;
    stroke-width: 1px;
}

.gratBackground {
    fill: #99e0f6;
}

.map {
    border: medium solid #355E3B;
    border-width: 5px;
    margin: 10px 0 0 10px;
    background-color: #0e87cc
}

.chart {
    background-color: #FFD580;
    border: medium solid #355E3B;
    border-width: 5px;
    float: right;
    margin: 10px 20px 0 0;
}

.numbers {
    fill: #553b32;
    font-family: sans-serif;
    font-size: 0.6em;
}

@font-face {
    font-family: 'Tribeca';
    src: URL('/assets/tribeca/Tribeca.ttf') format('truetype');
    color: #553b32;
}

#title { 
    font-family: Tribeca;
}

#text {
    font-family: Goudy Old Style;
    font-weight: bold;
    font-size: 1.25em;
}

.chartTitle {
    font-family: sans-serif;
    font-size: 1.05em;
    font-weight: bold;
    fill: #5C4033;
}

.dropdown {
    position: absolute;
    left: 40px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}

.infolabel {    margin: 0 20px 0 0;    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
}

/* Issues:  1: popup window shows up too far up of cursor as you scroll down and and gets further away from the cursor as you navigate the map
            2: Downloaded Font Family "Tribeca" not recognized in assets
            3: Chart title doesn't respond to changes in chartTitle element in CSS, but seems to respond to some other element
            4: Graticule background doesn't respond to changes in gratBackground element in CSS
            5: HTML index page has red error line under backgroundImage style
            6: Cannot hover over small leopard populations in bar chart
           